@charset "UTF-8";
.site-top-bar:after, .site-header:after, .hero:after, .site-footer:after, .site-copyright:after, section:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 1;
  transition: opacity .25s ease;
  z-index: 9999; }
  .loading-end .site-top-bar:after, .loading-end .site-header:after, .loading-end .hero:after, .loading-end .site-footer:after, .loading-end .site-copyright:after, .loading-end section:after {
    opacity: 0; }

section.content-image .section-image:before, section.image-content .section-image:before, .blogpost .blogpost-image-wrapper .blogpost-image, .home-hero:after {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; }

html {
  font-size: 16px; }
  @media only screen and (min-width: 34em) {
    html {
      font-size: 16px; } }

body {
  font-family: "Roboto", sans-serif;
  color: #373a3c;
  position: relative; }

.site-content {
  overflow: hidden;
  margin: 0;
  background-color: white;
  padding-top: 0; }
  .header-is-active .site-content {
    padding-top: 80px; }

@media screen and (max-width: 600px) {
  #wpadminbar {
    position: fixed; } }
.site-body {
  position: relative;
  z-index: 1;
  background-color: white; }

a {
  color: #b22f4e;
  transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out; }
  a:hover, a:focus {
    color: #8a243c;
    text-decoration: none; }

.site-top-bar {
  background-color: #b22f4e;
  color: white;
  display: none;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  overflow: hidden;
  z-index: 2; }
  @media screen and (min-width: 768px) {
    .site-top-bar {
      display: block; } }
  .site-top-bar ul {
    padding: 0;
    margin: 0;
    list-style: none;
    height: 50px; }
    .site-top-bar ul li {
      display: inline-block;
      line-height: 40px;
      height: 50px;
      vertical-align: top;
      padding: 5px 0; }
      .site-top-bar ul li + li {
        margin-left: .5rem; }
      .site-top-bar ul li .btn {
        line-height: 1;
        vertical-align: initial; }
      .site-top-bar ul li p {
        display: inline;
        margin: 0; }
      .site-top-bar ul li a {
        font-weight: bold;
        color: inherit; }
  .site-top-bar:after {
    background-color: #b22f4e; }

.site-header {
  background-color: white;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  padding: 0;
  z-index: 1000;
  box-shadow: 0 0 0 transparent; }
  .header-is-active .site-header {
    position: fixed;
    top: 0;
    padding: 0;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25); }
  .header-is-active.admin-bar .site-header {
    top: 46px; }
    @media screen and (min-width: 783px) {
      .header-is-active.admin-bar .site-header {
        top: 32px; } }
  .site-header:after {
    background-color: white; }

.site-header-inner .container {
  position: relative;
  padding-right: 96px; }
  @media only screen and (min-width: 62em) {
    .site-header-inner .container {
      padding-right: 0; } }

.site-header-logo {
  display: inline-block;
  height: 60px;
  line-height: 60px;
  width: 311px;
  max-width: 100%;
  margin-top: 10px;
  margin-bottom: 10px; }
  .site-header-logo svg {
    width: 100%;
    height: 100%; }

.site-header-spacer {
  height: 80px; }
  @media only screen and (min-width: 48em) {
    .has-top-bar .site-header-spacer {
      height: 130px; } }

@media only screen and (min-width: 62em) {
  .site-nav {
    display: inline-block;
    height: 80px;
    float: right; }

  .site-nav-inner {
    height: 80px; }

  .site-nav-header {
    display: none; }

  .main-nav > ul {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0; }
    .main-nav > ul > li {
      display: inline-block;
      margin: 0; }
      .main-nav > ul > li > a {
        position: relative;
        display: block;
        line-height: 80px;
        margin: 0;
        padding: 0 .75rem;
        color: #373a3c;
        font-weight: bold;
        font-size: .9rem;
        transition: all .2s ease-in-out; } }
      @media only screen and (min-width: 62em) and (min-width: 75em) {
        .main-nav > ul > li > a {
          padding: 0 1rem; } }
@media only screen and (min-width: 62em) {
        .main-nav > ul > li > a:after {
          content: "";
          display: block;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 0;
          background-color: transparent;
          transition: all .3s ease; }
        .main-nav > ul > li > a:hover, .main-nav > ul > li > a:focus {
          text-decoration: none;
          background-color: rgba(0, 0, 0, 0.1);
          color: #2b2e35; }
          .main-nav > ul > li > a:hover:after, .main-nav > ul > li > a:focus:after {
            background-color: #b22f4e;
            height: 4px; }
      .main-nav > ul > li.current_page_item > a, .main-nav > ul > li.current_page_parent > a {
        background-color: rgba(0, 0, 0, 0.05);
        color: #2b2e35; }
        .main-nav > ul > li.current_page_item > a:after, .main-nav > ul > li.current_page_parent > a:after {
          background-color: #b22f4e;
          height: 4px; }
    .main-nav > ul li.page_item_has_children,
    .main-nav > ul li.menu-item-has-children {
      position: relative; }
      .main-nav > ul li.page_item_has_children ul.children,
      .main-nav > ul li.page_item_has_children ul.sub-menu,
      .main-nav > ul li.menu-item-has-children ul.children,
      .main-nav > ul li.menu-item-has-children ul.sub-menu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        float: left;
        min-width: 10rem;
        padding: .5rem 0;
        margin: 0;
        font-size: 1rem;
        color: #373a3c;
        text-align: left;
        list-style: none;
        background-color: white;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, 0.15); }
        .main-nav > ul li.page_item_has_children ul.children > li,
        .main-nav > ul li.page_item_has_children ul.sub-menu > li,
        .main-nav > ul li.menu-item-has-children ul.children > li,
        .main-nav > ul li.menu-item-has-children ul.sub-menu > li {
          display: block;
          width: 100%;
          padding: 0;
          clear: both;
          text-align: inherit;
          white-space: nowrap;
          background: 0 0;
          border: 0; }
          .main-nav > ul li.page_item_has_children ul.children > li > a,
          .main-nav > ul li.page_item_has_children ul.sub-menu > li > a,
          .main-nav > ul li.menu-item-has-children ul.children > li > a,
          .main-nav > ul li.menu-item-has-children ul.sub-menu > li > a {
            display: block;
            padding: .5rem 1rem;
            color: #373a3c;
            font-weight: bold;
            font-size: .9rem;
            transition: all .2s ease-in-out; }
            .main-nav > ul li.page_item_has_children ul.children > li > a:hover,
            .main-nav > ul li.page_item_has_children ul.sub-menu > li > a:hover,
            .main-nav > ul li.menu-item-has-children ul.children > li > a:hover,
            .main-nav > ul li.menu-item-has-children ul.sub-menu > li > a:hover {
              color: #2b2e35;
              background-color: #eee; }
          .main-nav > ul li.page_item_has_children ul.children > li.current_page_item,
          .main-nav > ul li.page_item_has_children ul.sub-menu > li.current_page_item,
          .main-nav > ul li.menu-item-has-children ul.children > li.current_page_item,
          .main-nav > ul li.menu-item-has-children ul.sub-menu > li.current_page_item {
            border-left: 4px solid #b22f4e;
            background-color: #eee; }
      .main-nav > ul li.page_item_has_children:hover ul.children,
      .main-nav > ul li.page_item_has_children:hover ul.sub-menu,
      .main-nav > ul li.menu-item-has-children:hover ul.children,
      .main-nav > ul li.menu-item-has-children:hover ul.sub-menu {
        display: block; }

  .secondary-nav {
    display: none; }

  .site-nav-social-media {
    display: none; }

  .site-nav-searchform {
    display: none; }

  .site-nav-footer {
    display: none; } }
@media only screen and (max-width: 61.99em) {
  .site-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none; }
    .site-nav .site-nav-overlay {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      opacity: 0;
      transition: opacity .3s ease;
      pointer-events: none; }

  .menu-is-open .site-nav {
    pointer-events: auto; }
    .menu-is-open .site-nav .site-nav-overlay {
      opacity: 1;
      pointer-events: auto; }

  .site-nav-inner {
    background-color: #eee;
    overflow-x: auto;
    position: relative;
    width: 400px;
    max-width: 80%;
    height: 100%;
    -webkit-transform: initial;
            transform: initial;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    transition: all 0.6s cubic-bezier(0.6, 0.3, 0, 1);
    transition-timing-function: cubic-bezier(0.6, 0.3, 0, 1); }
    .site-nav-inner::-webkit-scrollbar {
      height: 16px;
      overflow: visible;
      width: 16px; }
    .site-nav-inner::-webkit-scrollbar-corner {
      background: transparent; }
    .site-nav-inner::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2);
      background-clip: padding-box;
      min-height: 28px;
      padding: 100px 0 0;
      box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.07); }
    .site-nav-inner::-webkit-scrollbar-track {
      background-clip: padding-box;
      border: solid transparent;
      border-width: 0 0 0 4px; }

  .menu-is-open .site-nav-inner {
    -webkit-transform: initial;
            transform: initial;
    box-shadow: 1rem 0 1rem rgba(6, 6, 6, 0.5); }

  .site-nav-header {
    display: block;
    position: relative;
    background-color: #eee;
    padding: 2rem 1.5rem 1rem; }
    .site-nav-header:after {
      content: 'Menu';
      text-transform: uppercase;
      font-size: 1.15rem;
      font-weight: bold; }

  .main-nav {
    background-color: white;
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #eee; }
    .main-nav ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      .main-nav ul > li {
        position: relative;
        display: block;
        margin: 0;
        padding: 0; }
        .main-nav ul > li > a {
          position: relative;
          display: block;
          font-family: "Roboto", sans-serif;
          font-size: 1rem;
          padding: .75rem 0;
          color: #373a3c;
          transition: all 0.2s ease; }
          .main-nav ul > li > a:hover, .main-nav ul > li > a:focus {
            text-decoration: none;
            color: #b22f4e; }
        .main-nav ul > li.current_page_item > a {
          text-decoration: none;
          color: #b22f4e; }
    .main-nav li.page_item_has_children,
    .main-nav li.menu-item-has-children {
      margin-right: 2.5rem; }
      .main-nav li.page_item_has_children > .dropdown-toggle,
      .main-nav li.menu-item-has-children > .dropdown-toggle {
        display: block;
        position: absolute;
        top: 0;
        right: -2.5rem;
        width: 2.5rem;
        height: 2.5rem;
        line-height: 2.5rem;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.05);
        transition: .3s all ease;
        color: #373a3c;
        border-radius: 4px; }
        .main-nav li.page_item_has_children > .dropdown-toggle:after,
        .main-nav li.menu-item-has-children > .dropdown-toggle:after {
          content: '+'; }
        .main-nav li.page_item_has_children > .dropdown-toggle:hover, .main-nav li.page_item_has_children > .dropdown-toggle:focus,
        .main-nav li.menu-item-has-children > .dropdown-toggle:hover,
        .main-nav li.menu-item-has-children > .dropdown-toggle:focus {
          color: #373a3c;
          background-color: rgba(0, 0, 0, 0.1);
          border-radius: 8px; }
        .main-nav li.page_item_has_children > .dropdown-toggle.is-open,
        .main-nav li.menu-item-has-children > .dropdown-toggle.is-open {
          border-radius: 40%; }
          .main-nav li.page_item_has_children > .dropdown-toggle.is-open:after,
          .main-nav li.menu-item-has-children > .dropdown-toggle.is-open:after {
            content: '-'; }
    .main-nav ul.sub-menu,
    .main-nav ul.children {
      display: none;
      padding-left: 1rem;
      margin-bottom: .5rem; }
      .main-nav ul.sub-menu > li > a:before,
      .main-nav ul.children > li > a:before {
        content: '-';
        margin-right: .25rem; }

  .secondary-nav {
    background-color: white;
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #eee; }
    .secondary-nav ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      .secondary-nav ul > li {
        position: relative;
        display: block;
        margin: 0;
        padding: 0; }
        .secondary-nav ul > li br {
          display: none; }
        .secondary-nav ul > li > a {
          font-family: "Roboto", sans-serif;
          font-size: .85rem;
          display: block;
          color: #999;
          padding: .5rem 0;
          transition: color .3s ease; }
          .secondary-nav ul > li > a:hover, .secondary-nav ul > li > a:focus {
            text-decoration: none;
            color: #b22f4e; }

  .site-nav-social-media {
    padding: 1rem 1.5rem;
    background-color: white;
    border-bottom: 1px solid #eee; }

  .site-nav-searchform {
    background-color: white;
    padding: 2rem 1.5rem;
    position: relative; }
    .site-nav-searchform .searchform {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      max-width: 100%;
      border: none; }
      .site-nav-searchform .searchform input {
        line-height: 2rem;
        padding: 1rem 4rem 1rem 1.5rem; }
      .site-nav-searchform .searchform .search-submit {
        width: 4rem; } }
.menu-toggle {
  width: 80px;
  height: 80px;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  overflow: hidden;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.05);
  transition: all .3s ease; }
  .menu-toggle span.hamburger,
  .menu-toggle span.hamburger:after,
  .menu-toggle span.hamburger:before {
    content: "";
    display: block;
    position: absolute;
    width: 22px;
    height: 2px;
    background: #373a3c;
    top: 50%;
    margin-top: -1px;
    left: 50%;
    margin-left: -11px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    transition: all 0.3s cubic-bezier(0.6, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.6, 0, 0.2, 1);
    transition-delay: 0.15s;
    z-index: 12; }
  .menu-toggle span.hamburger:after {
    margin-top: 7px;
    top: 0; }
  .menu-toggle span.hamburger:before {
    margin-top: -7px;
    top: 0; }
  .menu-toggle:hover, .menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1); }

.menu-is-open .menu-toggle span.hamburger {
  background: transparent; }
  .menu-is-open .menu-toggle span.hamburger:after {
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
    margin-top: 0px; }
  .menu-is-open .menu-toggle span.hamburger:before {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
    margin-top: 0px; }

@media only screen and (min-width: 62em) {
  .menu-toggle {
    display: none; } }
.hero {
  position: relative;
  background-color: #b22f4e;
  color: white;
  z-index: 1; }
  .hero:after {
    background-color: #b22f4e; }
  .hero .hero-inner {
    padding: 4rem 0;
    position: relative; }
  .hero .hero-title {
    font-size: 2rem;
    position: relative;
    margin-bottom: 0;
    opacity: 0;
    transition: all .25s ease;
    padding-left: 2rem; }
    .loading-end .hero .hero-title {
      opacity: 1;
      padding-left: 0; }
  .hero .hero-subtitle {
    font-size: 1.25rem;
    padding-left: 2rem;
    opacity: 0;
    transition: all .25s ease .25s; }
    .loading-end .hero .hero-subtitle {
      opacity: 1;
      padding-left: 0; }
  .hero .hero-icon {
    opacity: 0;
    transition: all .25s ease;
    padding-right: 2rem; }
    .loading-end .hero .hero-icon {
      opacity: 1;
      padding-right: 0; }
    .hero .hero-icon img {
      width: 100px; }
  .hero.has-featured-image {
    background: #373a3c no-repeat center/cover; }
    .hero.has-featured-image:after {
      background-color: #373a3c; }
    .hero.has-featured-image .hero-overlay {
      background-color: rgba(43, 46, 53, 0.25); }
    .hero.has-featured-image .hero-inner {
      padding: 8rem 0;
      position: relative; }
      .hero.has-featured-image .hero-inner .hero-content-inner {
        width: 100%; }
        .hero.has-featured-image .hero-inner .hero-content-inner .hero-title {
          font-size: 2.5rem; }

aside {
  padding: 4rem 2rem;
  background-color: #eee; }
  .has-sidebar aside {
    position: relative; }
  .has-sidebar aside:before, .has-sidebar aside:after {
    content: '';
    position: absolute;
    top: 0;
    width: 99999px;
    height: 100%;
    background-color: #eee;
    pointer-events: none; }
  .has-sidebar aside:before {
    left: -99998px; }
  .has-sidebar aside:after {
    right: -99998px; }
  @media only screen and (min-width: 62em) {
    .has-sidebar-right aside:before {
      content: none; }
    .has-sidebar-left aside:after {
      content: none; } }

.site-footer {
  padding: 4rem 0 2rem;
  background-color: #222;
  color: white;
  position: relative;
  z-index: 1;
  font-size: .9rem; }
  .site-footer .footer-area {
    margin-bottom: 2rem; }
    .site-footer .footer-area .footer-title {
      font-size: 1rem;
      text-transform: uppercase;
      color: white; }
    .site-footer .footer-area hr {
      margin: 1rem 0;
      border-top: 2px solid #b22f4e;
      width: 2rem;
      transition: all .3s ease; }
    .site-footer .footer-area a {
      color: white; }
      .site-footer .footer-area a:hover, .site-footer .footer-area a:focus {
        color: #b22f4e; }
    .site-footer .footer-area ul {
      list-style: none;
      padding: 0; }
      .site-footer .footer-area ul li.page_item_has_children,
      .site-footer .footer-area ul li.menu-item-has-children {
        position: relative; }
        .site-footer .footer-area ul li.page_item_has_children .dropdown-toggle,
        .site-footer .footer-area ul li.menu-item-has-children .dropdown-toggle {
          position: absolute;
          width: 50px;
          top: 0;
          padding: .35rem 0;
          right: 0;
          -moz-text-align-last: center;
               text-align-last: center;
          cursor: pointer; }
          .site-footer .footer-area ul li.page_item_has_children .dropdown-toggle:after,
          .site-footer .footer-area ul li.menu-item-has-children .dropdown-toggle:after {
            font-family: 'FontAwesome';
            content: '\f105'; }
          .site-footer .footer-area ul li.page_item_has_children .dropdown-toggle.is-open:after,
          .site-footer .footer-area ul li.menu-item-has-children .dropdown-toggle.is-open:after {
            content: '\f107'; }
        .site-footer .footer-area ul li.page_item_has_children a,
        .site-footer .footer-area ul li.menu-item-has-children a {
          margin-right: 50px; }
        .site-footer .footer-area ul li.page_item_has_children .children,
        .site-footer .footer-area ul li.page_item_has_children .sub-menu,
        .site-footer .footer-area ul li.menu-item-has-children .children,
        .site-footer .footer-area ul li.menu-item-has-children .sub-menu {
          display: none;
          font-size: .9rem;
          color: #999; }
    .site-footer .footer-area:hover hr {
      border-color: white;
      width: 3rem; }
  .site-footer:after {
    background-color: #222; }

.site-copyright:after {
  background-color: #eee; }

.btn {
  min-width: 180px;
  border-radius: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: .9rem; }

.btn-1 {
  background-color: #b22f4e !important;
  border-color: #b22f4e !important;
  color: white !important; }
  .btn-1:hover, .btn-1:focus {
    background-color: #8a243c !important;
    border-color: #8a243c !important;
    color: white !important; }

.btn-2 {
  background-color: #2b2e35 !important;
  border-color: #2b2e35 !important;
  color: white !important; }
  .btn-2:hover, .btn-2:focus {
    background-color: #141619 !important;
    border-color: #141619 !important;
    color: white !important; }

.btn-0 {
  background-color: #373a3c !important;
  border-color: #373a3c !important;
  color: white !important; }
  .btn-0:hover, .btn-0:focus {
    background-color: #1f2021 !important;
    border-color: #1f2021 !important;
    color: white !important; }

.btn-black {
  background-color: #060606 !important;
  border-color: #060606 !important;
  color: white !important; }
  .btn-black:hover, .btn-black:focus {
    background-color: black !important;
    border-color: black !important;
    color: white !important; }

.btn-dark {
  background-color: #222 !important;
  border-color: #222 !important;
  color: white !important; }
  .btn-dark:hover, .btn-dark:focus {
    background-color: #090909 !important;
    border-color: #090909 !important;
    color: white !important; }

.btn-faded {
  background-color: #eee !important;
  border-color: #eee !important;
  color: white !important; }
  .btn-faded:hover, .btn-faded:focus {
    background-color: #d5d5d5 !important;
    border-color: #d5d5d5 !important;
    color: white !important; }

.btn-white {
  background-color: white !important;
  border-color: white !important;
  color: #2b2e35 !important; }
  .btn-white:hover, .btn-white:focus {
    background-color: #e6e6e6 !important;
    border-color: #e6e6e6 !important;
    color: #2b2e35 !important; }

.btn-white-o {
  background-color: transparent !important;
  border-color: white !important;
  color: white !important; }
  .btn-white-o:hover, .btn-white-o:focus {
    background-color: white !important;
    border-color: white !important;
    color: #373a3c !important; }

ul.social-list {
  padding: 0;
  list-style: none; }
  ul.social-list li {
    margin-bottom: .5rem; }
    ul.social-list li:before, ul.social-list li:after {
      content: none; }
    ul.social-list li a i {
      display: inline-block;
      margin-right: .25rem;
      height: 40px;
      width: 40px;
      line-height: 40px;
      background-color: #2b2e35;
      color: white;
      border-radius: 50%;
      text-align: center;
      font-size: 1rem; }
    ul.social-list li a:hover i, ul.social-list li a:focus i {
      background-color: #141619;
      color: white; }
    ul.social-list li a span {
      line-height: 36px;
      display: inline-block; }
    ul.social-list li a:before, ul.social-list li a:after {
      content: none; }
  ul.social-list.is-inline {
    display: inline-block;
    margin-bottom: 0; }
    ul.social-list.is-inline li {
      display: inline-block;
      padding: 0;
      margin-bottom: 0; }
      ul.social-list.is-inline li + li {
        margin-left: .5rem; }
      ul.social-list.is-inline li a i {
        display: block;
        margin-right: 0; }
      ul.social-list.is-inline li a span {
        font-size: 0;
        display: none; }

.widget {
  background-color: white;
  color: #373a3c;
  padding: .5rem; }
  .widget + .widget {
    margin-top: 1rem; }
  .widget .widget-title {
    font-size: 1.25rem;
    padding: .5rem;
    border-bottom: 1px solid;
    margin: -.5rem -.5rem .5rem; }
  .widget > *:last-child {
    margin-bottom: 0; }
  .widget ul {
    padding: 0;
    list-style: none; }
  .widget .searchform {
    max-width: 100%; }

.searchform {
  position: relative;
  max-width: 300px;
  width: 100%;
  border: 1px solid; }
  .searchform input {
    width: 100%;
    padding-right: 4rem;
    border: none;
    background-color: transparent; }
  .searchform .search-submit {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;
    width: 2.5rem;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    background-color: transparent;
    transition: all .2s ease;
    color: inherit; }
    .searchform .search-submit:hover, .searchform .search-submit:focus {
      color: inherit;
      outline: none;
      background-color: rgba(0, 0, 0, 0.1); }

.faqs-wrapper {
  margin-bottom: 2rem; }
  .faqs-wrapper .faq {
    padding: 0;
    margin-bottom: 1rem;
    transition: all .2s ease; }
    .faqs-wrapper .faq .faq-title {
      padding: 1rem;
      margin-bottom: 0;
      position: relative;
      cursor: pointer;
      font-size: 1.15rem;
      font-weight: bold;
      transition: all .2s ease;
      background-color: #b22f4e;
      color: white;
      font-family: "Roboto", sans-serif;
      text-transform: none; }
      .faqs-wrapper .faq .faq-title:before {
        content: "";
        display: "inline-block";
        position: "relative";
        font-family: 'FontAwesome';
        width: 1rem;
        line-height: 1.5rem;
        margin-right: .5rem; }
      .faqs-wrapper .faq .faq-title:hover {
        background-color: #2b2e35; }
    .faqs-wrapper .faq .faq-content {
      padding: 1.5rem 1rem;
      display: none;
      opacity: 0;
      background-color: #eee;
      color: #373a3c;
      transition: opacity .2s ease; }
      .faqs-wrapper .faq .faq-content > *:last-child {
        margin-bottom: 0; }
    .faqs-wrapper .faq.is-expanded {
      background-color: #eee; }
      .faqs-wrapper .faq.is-expanded .faq-title {
        padding-bottom: 1rem;
        background-color: #2b2e35; }
        .faqs-wrapper .faq.is-expanded .faq-title:before {
          content: '\f056'; }
      .faqs-wrapper .faq.is-expanded .faq-content {
        opacity: 1; }

.testimonials {
  text-align: center; }
  .testimonials .testimonial .review {
    font-size: 1.25rem; }
    .testimonials .testimonial .review p:first-child:before {
      font-family: Times, serif;
      content: '\201C';
      margin-right: .5rem;
      font-size: 2rem;
      line-height: 1rem;
      font-weight: bold; }
    .testimonials .testimonial .review p:last-child:after {
      font-family: Times, serif;
      content: '\201D';
      margin-left: .5rem;
      font-size: 2rem;
      line-height: 1rem;
      font-weight: bold; }
  .testimonials .testimonial .author-meta .name {
    font-weight: bold;
    display: block; }
  .testimonials .testimonial .author-meta .location,
  .testimonials .testimonial .author-meta .role {
    font-size: .9rem;
    color: #999; }
  .testimonials .testimonial .author-meta .role + .location:before {
    content: ', '; }

#featured_testimonials .testimonials .testimonial {
  background-color: #eee;
  padding: 0 2rem;
  margin: 0 1rem; }
  #featured_testimonials .testimonials .testimonial .rating {
    font-size: 2rem;
    color: #b22f4e;
    padding: 2rem 0 1rem; }
  #featured_testimonials .testimonials .testimonial .review {
    padding: 1rem 0;
    font-size: 1rem; }
  #featured_testimonials .testimonials .testimonial .author-meta {
    padding: 1rem 0 2rem; }

section:after {
  background-color: white; }

.bg-1 {
  background-color: #b22f4e;
  color: white; }
  .bg-1 a {
    color: #373a3c; }
    .bg-1 a:hover, .bg-1 a:focus {
      color: #1f2021; }
  .bg-1:after {
    background-color: #b22f4e; }

.bg-2 {
  background-color: #2b2e35;
  color: white; }
  .bg-2 a {
    color: #373a3c; }
    .bg-2 a:hover, .bg-2 a:focus {
      color: #1f2021; }
  .bg-2:after {
    background-color: #2b2e35; }

.bg-0 {
  background-color: #373a3c;
  color: white; }
  .bg-0:after {
    background-color: #373a3c; }

.bg-white {
  background-color: white;
  color: #373a3c; }
  .bg-white:after {
    background-color: white; }

.bg-faded {
  background-color: #eee;
  color: #373a3c; }
  .bg-faded:after {
    background-color: #eee; }

.bg-grey {
  background-color: #999;
  color: white; }
  .bg-grey:after {
    background-color: #999; }

.bg-dark {
  background-color: #222;
  color: white; }
  .bg-dark:after {
    background-color: #222; }

.bg-black {
  background-color: #060606;
  color: white; }
  .bg-black:after {
    background-color: #060606; }

.team-member + .team-member {
  margin-top: 2rem;
  border-top: 2px solid #eee;
  padding-top: 2rem; }
.team-member.is-featured .photo img {
  width: 172px;
  border-radius: 50%; }
.team-member .photo {
  margin-bottom: 1rem; }
.team-member .meta {
  margin-bottom: 1rem; }
  .team-member .meta .name {
    margin-bottom: 0; }
  .team-member .meta .role {
    font-size: 1.15rem;
    font-style: italic;
    color: #999; }

.affiliations {
  text-align: center;
  margin: 0 -.5rem; }
  .affiliations .affiliation {
    vertical-align: top;
    display: inline-block;
    padding: 1rem .5rem; }
    .affiliations .affiliation .title {
      display: none; }
    .affiliations .affiliation img {
      background-color: #eee;
      padding: 1rem 0; }
    .affiliations .affiliation p {
      margin-bottom: 0; }

.youtube-video-wrapper {
  text-align: center; }

.youtube-video {
  margin-bottom: .5rem; }

.youtube-video-title {
  font-size: 1.25rem;
  font-weight: bold; }

section.content-image .section-image:before, section.image-content .section-image:before {
  content: '';
  background-color: rgba(255, 255, 255, 0.9); }
  @media only screen and (min-width: 62em) {
    section.content-image .section-image:before, section.image-content .section-image:before {
      background-color: rgba(0, 0, 0, 0.5); } }
@media only screen and (min-width: 62em) {
  section.content-image .row, section.image-content .row {
    margin-right: -4rem;
    margin-left: -4rem; }
    section.content-image .row [class*='col'], section.image-content .row [class*='col'] {
      padding-right: 4rem;
      padding-left: 4rem; } }
@media only screen and (min-width: 62em) {
  section.content-image .section-image {
    left: 50%; } }
@media only screen and (min-width: 62em) {
  section.image-content .section-image {
    right: 50%; } }

.search .main-section,
.archive .main-section,
.blog .main-section {
  font-size: 0; }

.blogpost {
  display: inline-block;
  vertical-align: top;
  font-size: 1rem;
  width: 100%;
  padding: 1rem;
  color: white; }
  @media only screen and (min-width: 34em) {
    .blogpost {
      width: 50%; } }
  @media only screen and (min-width: 48em) {
    .blogpost {
      width: 50%; } }
  @media only screen and (min-width: 62em) {
    .blogpost {
      width: 33.33333%; } }
  @media only screen and (min-width: 75em) {
    .blogpost {
      width: 33.33333%; } }
  .blogpost .blogpost-inner {
    position: relative;
    padding: 1rem;
    border: 2px solid rgba(0, 0, 0, 0.1);
    background-color: #2b2e35; }
  .blogpost .blogpost-image-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: 0; }
    .blogpost .blogpost-image-wrapper .blogpost-image {
      overflow: hidden;
      pointer-events: none;
      z-index: 0;
      opacity: .25;
      background: no-repeat center/cover;
      transition: all .3s ease-in-out; }
  .blogpost .blogpost-header {
    position: relative;
    margin-bottom: .5rem;
    margin-top: 200px;
    transition: all .3s ease-in-out; }
    .blogpost .blogpost-header .blogpost-title {
      margin-bottom: 0; }
    .blogpost .blogpost-header .blogpost-date {
      font-size: .9rem;
      color: #999;
      font-weight: bold; }
  .blogpost .blogpost-body {
    position: relative;
    font-size: .9rem; }
    .blogpost .blogpost-body .blogpost-content {
      overflow: hidden;
      height: 0;
      transition: all .3s ease-in-out; }
    .blogpost .blogpost-body .blogpost-permalink {
      color: #b22f4e;
      font-style: italic;
      font-weight: bold; }
  .blogpost .blogpost-footer {
    margin-top: .5rem; }
    .blogpost .blogpost-footer > *:last-child {
      margin-bottom: 0; }
  .blogpost:hover .blogpost-image {
    opacity: 0; }
  .blogpost:hover .blogpost-header {
    margin-top: 0; }
  .blogpost:hover .blogpost-content {
    height: 200px; }

.pagination {
  margin: 2rem auto 1rem; }
  .pagination .nav-links {
    text-align: center;
    font-size: 0; }
    .pagination .nav-links a.page-numbers {
      background-color: white; }
      .pagination .nav-links a.page-numbers:hover, .pagination .nav-links a.page-numbers:focus {
        background-color: rgba(178, 47, 78, 0.1);
        color: inherit; }
    .pagination .nav-links .page-numbers {
      font-size: .9rem;
      margin: 0 .125rem;
      padding: .5rem;
      border: 2px solid rgba(0, 0, 0, 0.1);
      display: inline-block;
      line-height: 1;
      font-weight: bold; }
      .pagination .nav-links .page-numbers.current {
        background-color: #b22f4e;
        color: white; }
      .pagination .nav-links .page-numbers.prev, .pagination .nav-links .page-numbers.next {
        background-color: #373a3c;
        color: white; }
        .pagination .nav-links .page-numbers.prev:hover, .pagination .nav-links .page-numbers.prev:focus, .pagination .nav-links .page-numbers.next:hover, .pagination .nav-links .page-numbers.next:focus {
          background-color: #b22f4e;
          color: white; }
      .pagination .nav-links .page-numbers.prev {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px; }
      .pagination .nav-links .page-numbers.next {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px; }

.single .title {
  font-weight: 900; }
.single .date {
  margin-bottom: 1rem;
  font-style: italic;
  color: #999; }
.single .tags {
  padding-top: 2rem;
  display: block; }
  .single .tags a {
    font-style: italic;
    color: #999; }
    .single .tags a:hover, .single .tags a:focus {
      color: #b22f4e; }
    .single .tags a:before {
      content: '#'; }

.nav-link a {
  padding: .75rem 1rem;
  min-width: 90px;
  border-radius: 4px;
  color: white;
  background-color: #b22f4e;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  margin: .25rem;
  font-size: 1rem; }
  .nav-link a:hover, .nav-link a:focus {
    background-color: #2b2e35; }

* + .sharelinks {
  margin-top: 3rem; }

.sharelinks {
  list-style: none;
  margin-bottom: 1rem;
  font-size: 0;
  padding: 0; }
  .sharelinks .sharelink-title {
    font-style: italic;
    font-size: .9rem; }
  .sharelinks .sharelink {
    display: inline-block;
    font-size: 1rem; }
    .sharelinks .sharelink + .sharelink {
      margin-left: .5rem; }
    .sharelinks .sharelink.sharelink-icon a {
      display: block;
      line-height: 30px;
      height: 36px;
      width: 36px;
      vertical-align: middle;
      text-align: center;
      border-radius: 50%;
      color: white;
      border: 3px solid #373a3c;
      background-color: #373a3c; }
      .sharelinks .sharelink.sharelink-icon a:hover, .sharelinks .sharelink.sharelink-icon a:focus {
        background-color: #b22f4e;
        border-color: #b22f4e;
        color: white; }

.latest-offer-overlay {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 9999999999999999;
  opacity: 0;
  transition: background-color .3s ease-in-out .3s; }
  .latest-offer-overlay .latest-offer {
    background-color: #eee;
    position: relative;
    width: 800px;
    max-width: 100%;
    padding: 2rem;
    text-align: center;
    margin: 0 auto;
    top: -100%;
    transition: top .3s ease-in-out .6s;
    border-radius: 3px; }
    .latest-offer-overlay .latest-offer .latest-offer-close {
      position: absolute;
      top: .5rem;
      right: 1rem;
      cursor: pointer; }
      .latest-offer-overlay .latest-offer .latest-offer-close:before {
        font-family: 'FontAwesome';
        content: '\f00d';
        font-size: 1rem;
        color: #373a3c;
        line-height: 1; }
      .latest-offer-overlay .latest-offer .latest-offer-close:hover:before {
        color: #b22f4e; }
  .loading-end .latest-offer-overlay {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.75); }
    .loading-end .latest-offer-overlay .latest-offer {
      top: 2rem; }

.home-slider {
  position: relative; }

.home-hero {
  background: no-repeat center/cover #2b2e35;
  width: 100%;
  position: relative;
  color: white; }
  .home-hero:after {
    background-color: #2b2e35;
    content: "";
    display: block;
    position: absolute;
    pointer-events: none;
    opacity: 1;
    transition: opacity .25s ease; }
    .loading-end .home-hero:after {
      opacity: 0; }
  .home-hero .hero-overlay {
    background-color: rgba(43, 46, 53, 0.75);
    padding: 8rem 0; }
    .home-hero .hero-overlay .hero-content-inner {
      font-size: 1.25rem;
      font-weight: bold;
      max-width: 450px;
      margin-left: auto;
      margin-right: auto; }
      .home-hero .hero-overlay .hero-content-inner h1,
      .home-hero .hero-overlay .hero-content-inner h2 {
        margin: 0 0 2rem;
        font-size: 2.5rem; }
  .home-hero.text-l .hero-content-inner {
    margin-left: 0; }
  .home-hero.text-r .hero-content-inner {
    margin-right: 0; }

/*# sourceMappingURL=style.css.map */