.search .main-section,
.archive .main-section,
.blog .main-section{
  font-size: 0;
}
.blogpost{
  @include inline-blocks(1, 2, 2, 3, 3);
  padding: 1rem;
  color: white;
  .blogpost-inner{
    position: relative;
    padding: 1rem;
    border: 2px solid rgba(black, .1);
    background-color: $color-2;
  }
  .blogpost-image-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: 0;
    .blogpost-image{
      @extend %fullabs;
      overflow: hidden;
      pointer-events: none;
      z-index: 0;
      opacity: .25;
      background: no-repeat center/cover;
      // background-image: url('../img/placeholder.jpg');
      transition: all .3s ease-in-out;
    }
  }
  .blogpost-header{
    position: relative;
    margin-bottom: .5rem;
    margin-top: 200px;
    transition: all .3s ease-in-out;
    .blogpost-title{
      margin-bottom: 0;
    }
    .blogpost-date{
      font-size: .9rem;
      color: $grey;
      font-weight: bold;
    }
  }
  .blogpost-body{
    position: relative;
    font-size: .9rem;
    .blogpost-content{
      overflow: hidden;
      height: 0;
      transition: all .3s ease-in-out;
    }
    .blogpost-permalink{
      color: $color-1;
      font-style: italic;
      font-weight: bold;
    }
  }
  .blogpost-footer{
    margin-top: .5rem;
    & > *:last-child{
      margin-bottom: 0;
    }
  }
  &:hover{
    .blogpost-image{
      opacity: 0;
    }
    .blogpost-header{
      margin-top: 0;
    }
    .blogpost-content{
      height: 200px;
    }
  }
}


.pagination{
  margin: 2rem auto 1rem;
  .nav-links{
    text-align: center;
    font-size: 0;
    a.page-numbers{
      background-color: white;
      &:hover,
      &:focus{
        background-color: rgba($color-1, .1);
        color: inherit;
      }
    }
    .page-numbers{
      font-size: .9rem;
      margin: 0 .125rem;
      padding: .5rem;
      border: 2px solid rgba(black, .1);
      display: inline-block;
      line-height: 1;
      font-weight: bold;
      &.current{
        background-color: $color-1;
        color: white;
      }
      &.prev,
      &.next{
        background-color: $color-0;
        color: white;
        &:hover,
        &:focus{
          background-color: $color-1;
          color: white;
        }
      }
      &.prev{
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
      &.next{
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
    }
  }
}