.home-slider{
  position: relative;
}
.home-hero{
  background: no-repeat center/cover $color-2;
  width: 100%;
  position: relative;
  color: white;
  &:after{
    background-color: $color-2;
    @include pseudo();
    @extend %fullabs;
    pointer-events: none;
    opacity: 1;
    transition: opacity .25s ease;
    .loading-end &{
      opacity: 0;
    }
  }
  .hero-overlay{
    background-color: rgba($color-2, .75);
    padding: $padding*2 0;
    .hero-content-inner{
      font-size: 1.25rem;
      font-weight: bold;
      max-width: 450px;
      margin-left: auto;
      margin-right: auto;
      h1,
      h2{
        margin: 0 0 2rem;
        font-size: 2.5rem;
      }
    }
  }
  &.text-l{
    .hero-content-inner{
      margin-left: 0;
    }
  }
  &.text-r{
    .hero-content-inner{
      margin-right: 0;
    }
  }
}
