.latest-offer-overlay{
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(black, 0);
  z-index: 9999999999999999;
  opacity: 0;
  transition: background-color .3s ease-in-out .3s;
  .latest-offer{
    background-color: $faded;
    position: relative;
    width: 800px;
    max-width: 100%;
    padding: 2rem;
    text-align: center;
    margin: 0 auto;
    top: -100%;
    transition: top .3s ease-in-out .6s;
    border-radius: 3px;
    .latest-offer-close{
      position: absolute;
      top: .5rem;
      right: 1rem;
      cursor: pointer;
      &:before{
        font-family: 'FontAwesome';
        content: '\f00d';
        font-size: 1rem;
        color: $color-0;
        line-height: 1;
      }
      &:hover{
        &:before{
          color: $color-1;
        }
      }
    }
  }
  .loading-end &{
    opacity: 1;
    background-color: rgba(black, .75);
    .latest-offer{
      top: 2rem;
    }
  }
}