section{

  .section-inner{
    & > *:last-child{
      margin-bottom: 0;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6{
    font-family: $font-2;
    font-weight: 300;
    margin-bottom: 2rem;
  }

  &.content-image,
  &.image-content{
    .section-image{
      &:before{
        content: '';
        @extend %fullabs;
        background-color: rgba(white, .9);
        @include mq('md') {
          background-color: rgba(black, 0);
        }
      }
    }
    @include mq('md') {
      .row{
        margin-right: -$padding;
        margin-left: -$padding;
        [class*='col']{
          padding-right: $padding;
          padding-left: $padding;
        }
      }
    }
  }
  &.content-image{
    @include mq('md') {
      .section-inner{
        padding-right: 50%;
        min-height: 450px;
      }
      .section-image{
        left: 55%;
      }
    }
  }
  &.image-content{
    @include mq('md') {
      .section-inner{
        padding-left: 50%;
        min-height: 450px;
      }
      .section-image{
        right: 55%;
      }
    }
  }

}