.single{
  .title{
    font-weight: 900;
  }
  .date{
    margin-bottom: 1rem;
    font-style: italic;
    color: $grey;
  }
  .tags{
    padding-top: 2rem;
    display: block;
    a{
      font-style: italic;
      color: $grey;
      &:hover,
      &:focus{
        color: $color-1;
      }
      &:before{
        content: '#';
      }
    }
  }
}

.nav-link{
  a{
    padding: .75rem 1rem;
    min-width: 90px;
    border-radius: 4px;
    color: white;
    background-color: $color-1;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    margin: .25rem;
    font-size: 1rem;
    &:hover,
    &:focus{
      background-color: $color-2;
    }
  }
}

// SHARELINKS

* + .sharelinks{
  margin-top: 3rem;
}
.sharelinks{
  list-style: none;
  margin-bottom: 1rem;
  font-size: 0;
  padding: 0;
  .sharelink-title{
    font-style: italic;
    font-size: .9rem;
  }
  .sharelink{
    display: inline-block;
    font-size: 1rem;
    & + .sharelink{
      margin-left: .5rem;
    }
    &.sharelink-icon a{
      display: block;
      line-height: 30px;
      height: 36px;
      width: 36px;
      vertical-align: middle;
      text-align: center;
      border-radius: 50%;
      color: white;
      border: 3px solid $color-0;
      background-color: $color-0;
      &:hover,
      &:focus{
        background-color: $color-1;
        border-color: $color-1;
        color: white;
      }
    }
  }
}
