%loadoverlay {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 1;
  transition: opacity .25s ease;
  z-index: 9999;
  .loading-end &{
    opacity: 0;
  }
}

%fullabs{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}


@mixin btn($color, $text: white) {
  background-color: $color !important;
  border-color: $color !important;
  color: $text !important;
  &:hover,
  &:focus{
    background-color: darken($color, 10%) !important;
    border-color: darken($color, 10%) !important;
    color: $text !important;
  }
}

@mixin btn-o($color, $text: white) {
  background-color: transparent !important;
  border-color: $color !important;
  color: $color !important;
  &:hover,
  &:focus{
    background-color: $color !important;
    border-color: $color !important;
    color: $text !important;
  }
}

@mixin pseudo($display: block, $pos: absolute, $content: ''){
  content: $content;
  display: $display;
  position: $pos;
}


$breakpoints: (
  "lg":   $lg,
  "md":   $md,
  "sm":   $sm,
  "xs":   $xs,
  "mbp":  $mbp
);

@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
      @if $type == max {
      $width: $width - .01em;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

@mixin inline-blocks($nxs, $nsm, $nmd, $nlg, $nxl) {
  display: inline-block;
  vertical-align: top;
  font-size: 1rem;
  @if $nxs{
    width: percentage(1/$nxs);
  }
  @if $nsm{
    @include mq('xs') {
      width: percentage(1/$nsm);
    }
  }
  @if $nmd{
    @include mq('sm') {
      width: percentage(1/$nmd);
    }
  }
  @if $nlg{
    @include mq('md') {
      width: percentage(1/$nlg);
    }
  }
  @if $nxl{
    @include mq('lg') {
      width: percentage(1/$nxl);
    }
  }
}