// COLORS
$black: #060606;
$dark: #222;
$grey: #999;
$faded: #eee;

$color-0: #373a3c;
$color-1: #b22f4e;
$color-2: #2b2e35;


// FONTS
$font-1: 'Roboto', sans-serif;
$font-2: $font-1;
$font-3: $font-1;

$font-size-mobile: 16px;
$font-size: 16px;

// LOGO
$logo-w: 622px;
$logo-h: 120px;

$logo-w: $logo-w/2;
$logo-h: $logo-h/2;

// PADDING
$padding: 4rem;

// BREAKPOINTS
$lg: 75em;
$md: 62em;
$sm: 48em;
$xs: 34em;

$lg-down: $lg - 0.01em;
$md-down: $md - 0.01em;
$sm-down: $sm - 0.01em;
$xs-down: $xs - 0.01em;

// MOBILE MENU BREAKPOINT
$mbp: $md;
$mbp-down: $mbp - 0.01em;

// HEADER
$topbar-h: 50px;
$header-h: 80px;
