aside{
  padding: $padding 2rem;
  background-color: $faded;
  .has-sidebar &{
    position: relative;
  }
  .has-sidebar &:before,
  .has-sidebar &:after{
    content: '';
    position: absolute;
    top: 0;
    width: 99999px;
    height: 100%;
    background-color: $faded;
    pointer-events: none;
  }
  .has-sidebar &:before{
    left: -99998px;
  }
  .has-sidebar &:after{
    right: -99998px;
  }
  @include mq('md') {
    .has-sidebar-right &:before{
      content: none;
    }
    .has-sidebar-left &:after{
      content: none;
    }
  }
}