.site-footer {
  padding: $padding 0 2rem;
  background-color: $dark;
  color: white;
  position: relative;
  z-index: 1;
  font-size: .9rem;
  .footer-area{
    margin-bottom: 2rem;
    .footer-title{
      font-size: 1rem;
      text-transform: uppercase;
      color: white;
    }
    hr{
      margin: 1rem 0;
      border-top: 2px solid $color-1;
      width: 2rem;
      transition: all .3s ease;
    }
    a{
      color: white;
      &:hover,
      &:focus{
        color: $color-1;
      }
    }
    ul{
      list-style: none;
      padding: 0;
      li.page_item_has_children,
      li.menu-item-has-children{
        position: relative;
        .dropdown-toggle{
          position: absolute;
          width: 50px;
          top: 0;
          padding: .35rem 0;
          right: 0;
          text-align-last: center;
          cursor: pointer;
          &:after{
            font-family: 'FontAwesome';
            content: '\f105';
          }
          &.is-open{
            &:after{
              content: '\f107';
            }
          }
        }
        a{
          margin-right: 50px;
        }
        .children,
        .sub-menu{
          display: none;
          font-size: .9rem;
          color: $grey;
        }
      }
    }
    &:hover{
      hr{
        border-color: white;
        width: 3rem;
      }
    }
  }

  &:after{
    background-color: $dark;
    @extend %loadoverlay;
  }
}

.site-copyright{
  &:after{
    background-color: $faded;
    @extend %loadoverlay;
  }
}