.site-header{
  background-color: white;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-h;
  padding: 0;
  z-index: 1000;
  box-shadow: 0 0 0 rgba(black, 0);
  .header-is-active &{
    position: fixed;
    top: 0;
    padding: 0;
    box-shadow: 0 0 .5rem rgba(black, .25);
  }
  .header-is-active.admin-bar &{
    top: 46px;
    @media screen and (min-width: 783px) {
      top: 32px;
    }
  }
  &:after{
    background-color: white;
    @extend %loadoverlay;
  }
}

.site-header-inner{
  .container{
    position: relative;
    padding-right: $header-h + $font-size;
    @include mq('md') {
      padding-right: 0;
    }
  }
}

.site-header-logo{
  display: inline-block;
  height: $logo-h;
  line-height: $logo-h;
  width: $logo-w;
  max-width: 100%;
  margin-top: $header-h/2 - $logo-h/2;
  margin-bottom: $header-h/2 - $logo-h/2;
  svg{
    width: 100%;
    height: 100%;
  }
}

.site-header-spacer{
  height: $header-h;
  .has-top-bar &{
    @include mq('sm') {
      height: $header-h + $topbar-h;
    }
  }
}