.hero {
  position: relative;
  background-color: $color-1;
  color: white;
  z-index: 1;
  &:after{
    background-color: $color-1;
    @extend %loadoverlay;
  }
  .hero-inner{
    padding: $padding 0;
    position: relative;
  }
  .hero-title{
    font-size: 2rem;
    position: relative;
    margin-bottom: 0;
    opacity: 0;
    transition: all .25s ease;
    padding-left: 2rem;
    .loading-end &{
      opacity: 1;
      padding-left: 0;
    }
  }
  .hero-subtitle{
    font-size: 1.25rem;
    padding-left: 2rem;
    opacity: 0;
    transition: all .25s ease .25s;
    .loading-end &{
      opacity: 1;
      padding-left: 0;
    }
  }
  .hero-icon{
    opacity: 0;
    transition: all .25s ease;
    padding-right: 2rem;
    .loading-end &{
      opacity: 1;
      padding-right: 0;
    }
    img{
      width: 100px;
    }
  }
  &.has-featured-image{
    background: $color-0 no-repeat center/cover;
    &:after{
      background-color: $color-0;
    }
    .hero-overlay{
      background-color: rgba($color-2, .25);
    }
    .hero-inner{
      padding: 8rem 0;
      position: relative;
      .hero-content-inner{
        width: 100%;
        .hero-title{
          font-size: 2.5rem;
        }
      }
    }
  }
}
