@include mq('mbp'){
  .site-nav{
    display: inline-block;
    height: $header-h;
    float: right;
  }

  .site-nav-inner{
    height: $header-h;
  }

  .site-nav-header{
    display: none;
  }

  .main-nav{
    & > ul{
      float: right;
      list-style: none;
      margin: 0;
      padding: 0;
      font-size: 0;
      & > li{
        display: inline-block;
        margin: 0;
        & > a{
          position: relative;
          display: block;
          line-height: $header-h;
          margin: 0;
          padding: 0 .75rem;
          @include mq('lg') {
            padding: 0 1rem;
          }
          color: $color-0;
          font-weight: bold;
          font-size: .9rem;
          transition: all .2s ease-in-out;
          &:after{
            @include pseudo();
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0;
            background-color: transparent;
            transition: all .3s ease;
          }
          &:hover,
          &:focus{
            text-decoration: none;
            background-color: rgba(black, .1);
            color: $color-2;
            &:after{
              background-color: $color-1;
              height: 4px;
            }
          }
        }
        &.current_page_item,
        &.current_page_parent{
          & > a{
            background-color: rgba(black, .05);
            color: $color-2;
            &:after{
              background-color: $color-1;
              height: 4px;
            }
          }
        }
      }
      li.page_item_has_children,
      li.menu-item-has-children{
        position: relative;
        ul.children,
        ul.sub-menu{
          position: absolute;
          top: 100%;
          left: 0;
          z-index: 1000;
          display: none;
          float: left;
          min-width: 10rem;
          padding: .5rem 0;
          margin: 0;
          font-size: 1rem;
          color: $color-0;
          text-align: left;
          list-style: none;
          background-color: white;
          background-clip: padding-box;
          border: 1px solid rgba(0,0,0,.15);
          & > li{
            display: block;
            width: 100%;
            padding: 0;
            clear: both;
            text-align: inherit;
            white-space: nowrap;
            background: 0 0;
            border: 0;
            & > a{
              display: block;
              padding: .5rem 1rem;
              color: $color-0;
              font-weight: bold;
              font-size: .9rem;
              transition: all .2s ease-in-out;
              &:hover{
                color: $color-2;
                background-color: $faded;
              }
            }
            &.current_page_item{
              border-left: 4px solid $color-1;
              background-color: $faded;
            }
          }
        }
        &:hover{
          ul.children,
          ul.sub-menu{
            display: block;
          }
        }
      }
    }
  }

  .secondary-nav{
    display: none;
  }

  .site-nav-social-media{
    display: none;
  }

  .site-nav-searchform{
    display: none;
  }

  .site-nav-footer{
    display: none;
  }

}
