.menu-toggle {
  width: $header-h;
  height: $header-h;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  overflow: hidden;
  z-index: 0;
  background-color: rgba(black, .05);
  transition: all .3s ease;
  span.hamburger,
  span.hamburger:after,
  span.hamburger:before {
    @include pseudo();
    width: 22px;
    height: 2px;
    background: $color-0;
    top: 50%;
    margin-top: -1px;
    left: 50%;
    margin-left: -11px;
    transform: rotate(0deg);
    transition: all .3s cubic-bezier(0.600, 0.000, 0.200, 1.000);
    transition-timing-function: cubic-bezier(0.600, 0.000, 0.200, 1.000);
    transition-delay: 0.15s;
    z-index: 12;
  }
  span.hamburger{
    &:after{
      margin-top: 7px;
      top: 0;
    }
    &:before{
      margin-top: -7px;
      top: 0;
    }
  }
  &:hover,
  &:focus{
    background-color: rgba(black, .1);
  }
}

.menu-is-open{
  .menu-toggle{
    span.hamburger{
      background: transparent;
      &:after{
        transform: rotate(-135deg);
        margin-top: 0px;
      }
      &:before{
        transform: rotate(135deg);
        margin-top: 0px;
      }
    }
  }
}

@include mq('mbp') {
  .menu-toggle{
    display: none;
  }
}