@include mq('mbp', 'max') {
  .site-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    .site-nav-overlay{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(black, .7);
      opacity: 0;
      transition: opacity .3s ease;
      pointer-events: none;
    }
  }

  .menu-is-open{
    .site-nav{
      pointer-events: auto;
      .site-nav-overlay{
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  .site-nav-inner {
    background-color: $faded;
    overflow-x: auto;
    position: relative;
    width: 400px;
    max-width: 80%;
    height: 100%;
    transform: initial;
    transform: translateX(-100%);
    transition: all .6s cubic-bezier(0.600, 0.300, 0.000, 1.000);
    transition-timing-function: cubic-bezier(0.600, 0.300, 0.000, 1.000);
    &::-webkit-scrollbar {
      height: 16px;
      overflow: visible;
      width: 16px;
    }
    &::-webkit-scrollbar-corner {
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgba(0,0,0,0.2);
      background-clip: padding-box;
      min-height: 28px;
      padding: 100px 0 0;
      box-shadow: inset 1px 1px 0 rgba(0,0,0,0.1),inset 0 -1px 0 rgba(0,0,0,0.07);
    }
    &::-webkit-scrollbar-track {
      background-clip: padding-box;
      border: solid transparent;
      border-width: 0 0 0 4px;
    }
  }

  .menu-is-open{
    .site-nav-inner{
      transform: initial;
      box-shadow: 1rem 0 1rem rgba($black, .5);
    }
  }

  .site-nav-header{
    display: block;
    position: relative;
    background-color: $faded;
    padding: 2rem 1.5rem 1rem;
    &:after{
      content: 'Menu';
      text-transform: uppercase;
      font-size: 1.15rem;
      font-weight: bold;
    }
  }

  .main-nav{
    background-color: white;
    padding: 1rem 1.5rem;
    border-bottom: 1px solid $faded;
    ul{
      list-style: none;
      margin: 0;
      padding: 0;
      & > li{
        position: relative;
        display: block;
        margin: 0;
        padding: 0;
        & > a{
          position: relative;
          display: block;
          font-family: $font-2;
          font-size: 1rem;
          padding: .75rem 0;
          color: $color-0;
          transition: all 0.2s ease;
          &:hover,
          &:focus{
            text-decoration: none;
            color: $color-1;
          }
        }
        &.current_page_item{
          & > a{
            text-decoration: none;
            color: $color-1;
          }
        }
      }
    }
    li.page_item_has_children,
    li.menu-item-has-children{
      margin-right: 2.5rem;
      & > .dropdown-toggle{
        display: block;
        position: absolute;
        top: 0;
        right: -2.5rem;
        width: 2.5rem;
        height: 2.5rem;
        line-height: 2.5rem;
        text-align: center;
        background-color: rgba(black, .05);
        transition: .3s all ease;
        color: $color-0;
        border-radius: 4px;
        &:after{
          content: '+';
        }
        &:hover,
        &:focus{
          color: $color-0;
          background-color: rgba(black, .1);
          border-radius: 8px;
        }
        &.is-open{
          border-radius: 40%;
          &:after{
            content: '-';
          }
        }
      }
    }
    ul.sub-menu,
    ul.children{
      display: none;
      padding-left: 1rem;
      margin-bottom: .5rem;
      & > li{
        & > a{
          &:before{
            content: '-';
            margin-right: .25rem;
          }
        }
      }
    }
  }



  .secondary-nav {
    background-color: white;
    padding: 1rem 1.5rem;
    border-bottom: 1px solid $faded;
    ul{
      list-style: none;
      margin: 0;
      padding: 0;
      & > li{
        position: relative;
        display: block;
        margin: 0;
        padding: 0;
        br{
          display: none;
        }
        & > a{
          font-family: $font-2;
          font-size: .85rem;
          display: block;
          color: $grey;
          padding: .5rem 0;
          transition: color .3s ease;
          &:hover,
          &:focus{
            text-decoration: none;
            color: $color-1;
          }
        }
      }
    }
  }

  .site-nav-social-media{
    padding: 1rem 1.5rem;
    background-color: white;
    border-bottom: 1px solid $faded;
  }

  .site-nav-searchform{
    background-color: white;
    padding: 2rem 1.5rem;
    position: relative;
    .searchform{
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      max-width: 100%;
      border: none;
      input{
        line-height: 2rem;
        padding: 1rem 4rem 1rem 1.5rem;
      }
      .search-submit{
        width: 4rem;
      }
    }
  }
}