html {
  font-size: $font-size-mobile;
  @include mq('xs') {
    font-size: $font-size;
  }
}
body {
  font-family: $font-1;
  color: $color-0;
  position: relative;
}

.site-content{
	overflow: hidden;
  margin: 0;
  background-color: white;
  padding-top: 0;
  .header-is-active &{
    padding-top: $header-h;
  }
}

@media screen and (max-width: 600px) {
  #wpadminbar{
    position: fixed;
  }
}

.site-body{
  position: relative;
  z-index: 1;
  background-color: white;
}

a{
  color: $color-1;
  transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
  &:hover,
  &:focus{
    color: darken($color-1, 10%);
    text-decoration: none;
  }
}