.site-top-bar{
  background-color: $color-1;
  color: white;
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
  }
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: $topbar-h;
  overflow: hidden;
  z-index: 2;
  ul{
    padding: 0;
    margin: 0;
    list-style: none;
    height: $topbar-h;
    li{
      display: inline-block;
      line-height: $topbar-h - 10px;
      height: $topbar-h;
      vertical-align: top;
      padding: 5px 0;
      & + li{
        margin-left: .5rem;
      }
      .btn{
        line-height: 1;
        vertical-align: initial;
      }
      p{
        display: inline;
        margin: 0;
      }
      a{
        font-weight: bold;
        color: inherit;
      }
    }
  }
  &:after{
    background-color: $color-1;
    @extend %loadoverlay;
  }
}