.affiliations{
  text-align: center;
  margin: 0 -.5rem;
  .affiliation{
    vertical-align: top;
    display: inline-block;
    padding: 1rem .5rem;
    .title{
      display: none;
    }
    img{
      background-color: $faded;
      padding: 1rem 0;
    }
    p{
      margin-bottom: 0;
    }
  }
}