section{
  &:after{
    background-color: white;
    @extend %loadoverlay;
  }
}


.bg-1{
  background-color: $color-1;
  color: white;
  a{
    color: $color-0;
    &:hover,
    &:focus{
      color: darken($color-0, 10%);
    }
  }
  &:after{
    background-color: $color-1;
  }
}

.bg-2{
  background-color: $color-2;
  color: white;
  a{
    color: $color-0;
    &:hover,
    &:focus{
      color: darken($color-0, 10%);
    }
  }
  &:after{
    background-color: $color-2;
  }
}

.bg-0{
  background-color: $color-0;
  color: white;
  &:after{
    background-color: $color-0;
  }
}

.bg-white{
  background-color: white;
  color: $color-0;
  &:after{
    background-color: white;
  }
}

.bg-faded{
  background-color: $faded;
  color: $color-0;
  &:after{
    background-color: $faded;
  }
}

.bg-grey{
  background-color: $grey;
  color: white;
  &:after{
    background-color: $grey;
  }
}

.bg-dark{
  background-color: $dark;
  color: white;
  &:after{
    background-color: $dark;
  }
}

.bg-black{
  background-color: $black;
  color: white;
  &:after{
    background-color: $black;
  }
}