.btn{
  min-width: 180px;
  border-radius: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: .9rem;
}

.btn-1{
  @include btn($color-1);
}

.btn-2{
  @include btn($color-2);
}

.btn-0{
  @include btn($color-0);
}

.btn-black{
  @include btn($black);
}

.btn-dark{
  @include btn($dark);
}

.btn-faded{
  @include btn($faded);
}

.btn-white{
  @include btn(white, $color-2);
}

.btn-white-o{
  @include btn-o(white, $color-0);
}