.comment-content{
  margin: .5rem 0;
  padding-left: 1rem;
  border-left: 2px solid $grey;
}

.comment-author{
  .avatar{
    border-radius: 50%;
    background-color: white;
    margin-right: .5rem;
  }
}

.comment-form{
  .form-control{
    background-color: white;
  }
}