.faqs-wrapper{
  margin-bottom: 2rem;
  .faq{
    padding: 0;
    margin-bottom: 1rem;
    transition: all .2s ease;
    .faq-title{
      padding: 1rem;
      margin-bottom: 0;
      position: relative;
      cursor: pointer;
      font-size: 1.15rem;
      font-weight: bold;
      transition: all .2s ease;
      background-color: $color-1;
      color: white;
      font-family: $font-1;
      text-transform: none;
      &:before{
        @include pseudo('inline-block', 'relative', '\f055');
        font-family: 'FontAwesome';
        width: 1rem;
        line-height: 1.5rem;
        margin-right: .5rem;
      }
      &:hover{
        background-color: $color-2;
      }
    }
    .faq-content{
      padding: 1.5rem 1rem;
      display: none;
      opacity: 0;
      background-color: $faded;
      color: $color-0;
      transition: opacity .2s ease;
      & > *:last-child{
        margin-bottom: 0;
      }
    }
    &.is-expanded{
      background-color: $faded;
      .faq-title{
        padding-bottom: 1rem;
        background-color: $color-2;
        &:before{
          content: '\f056';
        }
      }
      .faq-content{
        opacity: 1;
      }
    }
  }
}