.searchform{
  position: relative;
  max-width: 300px;
  width: 100%;
  border: 1px solid;
  input{
    width: 100%;
    padding-right: 4rem;
    border: none;
    background-color: transparent;
  }
  .search-submit{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;
    width: 2.5rem;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    background-color: transparent;
    transition: all .2s ease;
    color: inherit;
    &:hover,
    &:focus{
      color: inherit;
      outline: none;
      background-color: rgba(black, .1);
    }
  }
}