ul.social-list{
  padding: 0;
  list-style: none;
  li{
    margin-bottom: .5rem;
    &:before,
    &:after{
      content: none;
    }
    a{
      i{
        display: inline-block;
        margin-right: .25rem;
        height: 40px;
        width: 40px;
        line-height: 40px;
        background-color: $color-2;
        color: white;
        border-radius: 50%;
        text-align: center;
        font-size: 1rem;
      }
      &:hover,
      &:focus{
        i{
          background-color: darken($color-2, 10%);
          color: white;
        }
      }
      span{
        line-height: 36px;
        display: inline-block;
      }
      &:before,
      &:after{
        content: none;
      }
    }
  }
  &.is-inline{
    display: inline-block;
    margin-bottom: 0;
    li{
      display: inline-block;
      padding: 0;
      margin-bottom: 0;
      & + li{
        margin-left: .5rem;
      }
      a{
        i{
          display: block;
          margin-right: 0;
        }
        span{
          font-size: 0;
          display: none;
        }
      }
    }
  }
}