.team-member{
  & + .team-member{
    margin-top: 2rem;
    border-top: 2px solid $faded;
    padding-top: 2rem;
  }
  &.is-featured{
    .photo{
      img{
        width: 172px;
        border-radius: 50%;
      }
    }
  }
  .photo{
    margin-bottom: 1rem;
  }
  .meta{
    margin-bottom: 1rem;
    .name{
      margin-bottom: 0;
    }
    .role{
      font-size: 1.15rem;
      font-style: italic;
      color: $grey;
    }
  }
}