.testimonials{
  text-align: center;
  .testimonial{
    .review{
      font-size: 1.25rem;
      p:first-child{
        &:before{
          font-family: Times, serif;
          content: '\201C';
          margin-right: .5rem;
          font-size: 2rem;
          line-height: 1rem;
          font-weight: bold;
        }
      }
      p:last-child{
        &:after{
          font-family: Times, serif;
          content: '\201D';
          margin-left: .5rem;
          font-size: 2rem;
          line-height: 1rem;
          font-weight: bold;
        }
      }
    }
    .author-meta{
      .name{
        font-weight: bold;
        display: block;
      }
      .location,
      .role{
        font-size: .9rem;
        color: $grey;
      }
      .role + .location{
        &:before{
          content: ', ';
        }
      }
    }
  }
}

#featured_testimonials{
  .testimonials{
    .testimonial{
      background-color: $faded;
      padding: 0 2rem;
      margin: 0 1rem;
      .rating{
        font-size: 2rem;
        color: $color-1;
        padding: 2rem 0 1rem;
      }
      .review{
        padding: 1rem 0;
        font-size: 1rem;
      }
      .author-meta{
        padding: 1rem 0 2rem;
      }
    }
  }
}