.widget{
  background-color: white;
  color: $color-0;
  padding: .5rem;
  & + .widget{
    margin-top: 1rem;
  }
  .widget-title{
    font-size: 1.25rem;
    padding: .5rem;
    border-bottom: 1px solid;
    margin: -.5rem -.5rem .5rem;
  }
  & > *:last-child{
    margin-bottom: 0;
  }
  ul{
    padding: 0;
    list-style: none;
  }
  .searchform{
    max-width: 100%;
  }
}
